--- 
layout: default 
title: Gallery 
---

<div id="main" style="padding-top: 3em;" class="wrapper style1">
	<div class="container">
		<header class="major">
			<h2>Gallery</h2>
			<p>Some cool photos shot at our events.</p>
		</header>
	</div>
	<selection>
		<div class="content-grid">
			{% for image in site.static_files %} 
				{% if image.path contains 'gallery' %}
				<div class="content">
					<img src="{{ site.baseurl }}{{ image.path }}" alt="" />
				</div>
				{% endif %} 
			{% endfor %}
		</div>
	</selection>
</div>