<!DOCTYPE HTML>
<html>

<head>
    <title>Cuny Crypto {{page.title}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/png" href="images/favicon.ico"/>
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>

<body>
    <!-- Header -->
    <header id="header">
        <h1 id="logo">
            <a href="index.html">The CUNY Crypto Club</a>
        </h1>
        <nav id="nav">
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a class="scrolly" href="index.html#About">About</a>
                </li>
                <li>
                    <a class="scrolly" href="index.html#Team">Team</a>
                </li>
                <li>
                    <a href="blog.html">Blog</a>
                </li>
                <li>
                    <a href="gallery.html">Gallery</a>
                </li>
                <li>
                    <a href="mailto:BlockchainBaruch@gmail.com">Contact Us</a>
                </li>
                <li>
                    <!-- to do: modal -->
                    <a href="https://cunycrypto.us17.list-manage.com/subscribe/post?u=e1aecc6fda6b4de7b97e745d2&amp;id=e8c541a1b9" target="_blank" class="button special">Subscribe</a>
                </li>
            </ul>
        </nav>
    </header>
    <div id="page-wrapper">

        {{ content }}
    </div>


    <!-- Footer -->
    <footer id="footer">
        <ul class="icons">
            <li>
                <a href="https://twitter.com/cunycrypto" class="icon alt fa-twitter">
                    <span class="label">Twitter</span>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/Cunycrypto/" class="icon alt fa-facebook">
                    <span class="label">Facebook</span>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/company/18396750/" class="icon alt fa-linkedin">
                    <span class="label">LinkedIn</span>
                </a>
            </li>
            <li>
                <a href="#" class="icon alt fa-instagram">
                    <span class="label">Instagram</span>
                </a>
            </li>
        </ul>
        <ul class="copyright">
            <li>&copy; Baruch Crypto Club. All rights reserved.</li>
            <li>Design:
                <a target="_blank" href="http://noahyamamoto.com">Noah Yamamoto</a>
            </li>
        </ul>
    </footer>

    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>
</body>

</html>